@using Endpoint.Website.Models.AddAccolade
@using IranFilmPort.Common.Constants
@{
    Layout = "~/Views/Shared/_LayoutUserClientAdmin.cshtml";
    ViewData["HeadTitle"] = "درج افتخار";
}
@model ModelAddAccolade
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="form-group row">
                <label class="col-sm-2  col-form-label" for="simpleinput">عنوان فارسی</label>
                <div class="col-sm-10">
                    <select id="selectFilms" class="form-control">
                        <option disabled selected="selected">اثر را انتخاب کنید ...</option>
                        @{
                            if (Model.FilmId == null)
                            {
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    foreach (var item in Model.ResultGetFilmsServiceDapperDto.Result)
                                    {
                                        <option value="@item.Id">@item.FullTitle</option>
                                    }
                                }
                                else
                                {
                                    foreach (var item in Model.ResultGetFilmsServiceDapperDto.Result)
                                    {
                                        <option selected="@(item.Id==Model.GetAccoladeByIdServiceDto.FilmId)" value="@item.Id">@item.FullTitle</option>
                                    }
                                }
                            }
                            else
                            {
                                    foreach (var item in Model.ResultGetFilmsServiceDapperDto.Result)
                                    {
                                        <option selected="@(item.Id==Model.FilmId)" value="@item.Id">@item.FullTitle</option>
                                    }                                
                            }
                        }
                    </select>
                </div>
            </div>
            <div id="content" hidden>
                <div class="form-group row">
                    <label class="col-sm-2  col-form-label" for="simpleinput">اولویت</label>
                    <div class="col-sm-10">
                            @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <input class="form-control" type="number" id="txtPriority" />
                                }
                                else
                                {
                                    <input class="form-control" type="number" id="txtPriority" value="@Model.GetAccoladeByIdServiceDto.Priority" />
                                }
                            }
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2  col-form-label" for="simpleinput">افتخار به فارسی</label>
                    <div class="col-sm-10">
                            @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <textarea name="editor1" id="txtFa"></textarea>

                                }
                                else
                                {
                                    <textarea name="editor1" id="txtFa">@Model.GetAccoladeByIdServiceDto.AccoladeFa</textarea>

                                }
                            }
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2  col-form-label" for="simpleinput">افتخار به انگلیسی</label>
                    <div class="col-sm-10">
                         @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <textarea name="editor1" id="txtEn"></textarea>

                                }
                                else
                                {
                                    <textarea name="editor1" id="txtEn">@Model.GetAccoladeByIdServiceDto.AccoladeEn</textarea>

                                }
                            }
                    </div>
                </div>

                <div class="alert alert-secondary" role="alert">
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label">گونه اثر</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <select class="custom-select mt-3" id="selectArtworkType">
                                        <option disabled selected="">گونه اثر...</option>
                                        <option value="@ArtworkTypeConstants.Short">کوتاه</option>
                                        <option value="@ArtworkTypeConstants.Feature">بلند</option>
                                        <option value="@ArtworkTypeConstants.Script">فیلمنامه</option>
                                    </select>
                                }
                                else
                                {
                                    <select class="custom-select mt-3" id="selectArtworkType">
                                        <option disabled selected="">گونه اثر...</option>
                                        <option selected="@(Model.GetAccoladeByIdServiceDto.ArtworkType == @ArtworkTypeConstants.Short)" value="@ArtworkTypeConstants.Short">کوتاه</option>
                                        <option selected="@(Model.GetAccoladeByIdServiceDto.ArtworkType == @ArtworkTypeConstants.Feature)" value="@ArtworkTypeConstants.Feature">بلند</option>
                                        <option selected="@(Model.GetAccoladeByIdServiceDto.ArtworkType == @ArtworkTypeConstants.Script)" value="@ArtworkTypeConstants.Script">فیلمنامه</option>
                                    </select>
                                }
                            }

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="simpleinput">کارگردان</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <input type="text" id="txtDirector"
                                    class="form-control" placeholder="متن دلخواه شما...">

                                }
                                else
                                {
                                    <input type="text" id="txtDirector"
                                            value="@Model.GetAccoladeByIdServiceDto.Director"
                                            class="form-control" placeholder="متن دلخواه شما...">

                                }
                            }                                                   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="simpleinput">تریلر</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetAccoladeByIdServiceDto == null)
                                {
                                    <input type="text" id="txtTrailer"
                                    class="form-control" placeholder="متن دلخواه شما...">

                                }
                                else
                                {
                                    <input type="text" id="txtTrailer"
                                            value="@Model.GetAccoladeByIdServiceDto.TrailerLink"
                                            class="form-control" placeholder="متن دلخواه شما...">

                                }
                            }                                                   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-fileinput">پوستر یا کاور پیج اثر</label>                       
                        <div class="col-sm-10">                             
                            <input type="file" class="form-control" id="fileImage">
                        <div class="alert alert-primary" role="alert">
                            <a target="_blank" href="https://www.freeconvert.com/jpg-to-webp" class="btn btn-lighten-purple waves-effect  width-md waves-purple">jpg->webp (1)</a>
                            <a target="_blank" href="https://cloudconvert.com/jpg-to-webp" class="btn btn-lighten-purple waves-effect  width-md waves-purple">jpg->webp (2)</a>
                            <a target="_blank" href="http://optimizilla.com/" class="btn btn-lighten-primary waves-effect  width-md waves-purple">optmize jpg (1)</a>
                            <a target="_blank" href="https://www.imgonline.com.ua/eng/compress-image-size.php" class="btn btn-lighten-primary waves-effect  width-md waves-purple">optmize jpg (2)</a>
                        </div>
                            @{
                                if (Model.GetAccoladeByIdServiceDto != null)
                                {
                                    <div class="mt-10">
                                    <a id="btnShowHideMainImage" class="cursorPointer kingBlueText">(نمایش تصویر)</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                    @{
                        if (Model.GetAccoladeByIdServiceDto != null)
                        {                            
                            <div class="form-group row" id="mainImgContent" hidden>
                                <label class="col-sm-2  col-form-label" for="example-fileinput"></label>
                                <div class="col-sm-10">

                                    <img class="img-fluid rounded"
                                            src="/UploadedStuff/admin/images/admin-poster-images/@Model.GetAccoladeByIdServiceDto.PosterFile" />
                                </div>
                            </div>
                        }
                    }
                </div>
                @{
                    if (Model.GetAccoladeByIdServiceDto == null)
                    {
                        <button type="button" onclick="addAccolade();"
                                class="btn btn-primary waves-effect width-md waves-light">
                            درج
                        </button>
                    }
                    else
                    {
                        <button type="button" onclick="editAccolade();"
                                class="btn btn-primary waves-effect width-md waves-light">
                            ویرایش
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Styles {
<link href="~/admintemplate/pagecssjs/addaccolade/addaccolade.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/common/fileextensionsize/fileextensionsize.js"></script>
    <script src="~/admintemplate/pagecssjs/addaccolade/addaccolade.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
    <script>        
        CKEDITOR.replace('txtFa',
            {
                extraPlugins: 'codesnippet',
                codeSnippet_theme: 'monokai_sublime',
                toolbar: [
                    { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] }, { name: 'bidi', items: ['BidiLtr', 'BidiRtl'] },
                    '/', // Line break
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', '-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv'] },
                    { name: 'alignment', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }, // Alignment options
                    { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'] },
                    '/', // Line break
                    { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
                    { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                    { name: 'tools', items: ['Maximize', 'ShowBlocks', '-', 'About'] },
                    { name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                    '/', // Line break
                    { name: 'coding', items: ['CodeSnippet'] },
                ],
                filebrowserUploadUrl: '/admin/UploadNewsMiddlePost/', // Update this URL to your server-side upload handler
                filebrowserImageUploadUrl: '/admin/UploadNewsMiddlePost?type=Images',
                filebrowserImageBrowseUrl: '/admin/AdminNewsImageBrower/', // Update this URL to point to your image browser
            });
        CKEDITOR.replace('txtEn',
            {
                extraPlugins: 'codesnippet',
                codeSnippet_theme: 'monokai_sublime',
                toolbar: [
                    { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] }, { name: 'bidi', items: ['BidiLtr', 'BidiRtl'] },
                    '/', // Line break
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', '-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv'] },
                    { name: 'alignment', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }, // Alignment options
                    { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'] },
                    '/', // Line break
                    { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
                    { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                    { name: 'tools', items: ['Maximize', 'ShowBlocks', '-', 'About'] },
                    { name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                    '/', // Line break
                    { name: 'coding', items: ['CodeSnippet'] },
                ],
                filebrowserUploadUrl: '/admin/UploadNewsMiddlePost/', // Update this URL to your server-side upload handler
                filebrowserImageUploadUrl: '/admin/UploadNewsMiddlePost?type=Images',
                filebrowserImageBrowseUrl: '/admin/AdminNewsImageBrower/', // Update this URL to point to your image browser
            });
        // Clean the textarea content before CKEditor loads
        KingSweetAlertCenterParticularTimer("در حال آماده سازی فرم ها ...",2000);
    </script>
    @{
        if (Model.GetAccoladeByIdServiceDto == null)
        {
            <script>

                var filmId = '@Model.FilmId';

                setTimeout(function(){
                // کد زیر برای این گذاشتم که متاسفانه ی سری تگ های html برای خودش اد میکرد
                CKEDITOR.instances.txtFa.setData('');
                CKEDITOR.instances.txtEn.setData('');
                },2000);
            </script>
        }
        else
        {
           <script>
                var filmId = '@Model.GetAccoladeByIdServiceDto.FilmId';
           </script>
        }
    }
}