@using Endpoint.Website.Models.AddNews
@using IranFilmPort.Common.Helpers;
@using IranFilmPort.Common.Constants
@{
    Layout = "~/Views/Shared/_LayoutUserClientAdmin.cshtml";
    ViewData["HeadTitle"] = "درج پست";
}
@model ModelAddNews
<div class="row">
    <div class="col-12">
        <a href="/admin/newscategories"
                       class="btn btn-success waves-effect width-md waves-light">دسته بندی</a>  
        <div class="card-box">
            <div class="row">
                <div class="col-12">                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">فعال یا غیرفعال</label>
                        <div class="col-sm-10 alignCenter">
                            <div class="custom-control custom-switch ">
                                @{
                                    if (Model.GetNewsServiceDto == null)
                                    {
                                        <label class="custom-control material-switch">
                                            <input checked="checked" type="checkbox" name="active" id="chkActive" class="material-switch-control-input">
                                            <span class="material-switch-control-indicator"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        if ((bool)Model.GetNewsServiceDto.Active)
                                        {
                                            <label class="custom-control material-switch">
                                                <input checked type="checkbox" name="active" id="chkActive" class="material-switch-control-input">
                                                <span class="material-switch-control-indicator"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="custom-control material-switch">
                                                <input type="checkbox" name="active" id="chkActive" class="material-switch-control-input">
                                                <span class="material-switch-control-indicator"></span>
                                            </label>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label">دسته پست</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <select class="custom-select mt-3" id="selectMainCat">
                                        <option value="-1" selected="">دسته اصلی خبر را انتخاب کنید...</option>
                                        @{
                                            foreach (var item in Model.ResultGetNewsParentCategoriesDto.Result)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                    <select class="custom-select mt-3" id="selectChildCategory">
                                    </select>
                                }
                                else
                                {
                                    <select class="custom-select mt-3" id="selectMainCat">
                                        <option value="-1" selected="">دسته اصلی خبر را انتخاب کنید...</option>
                                        @{
                                            foreach (var item in Model.ResultGetNewsParentCategoriesDto.Result)
                                            {
                                                <option selected="@(Model.GetNewsServiceDto.ParentCategoryId == item.Id)"
                                                        value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                    <select class="custom-select mt-3" id="selectChildCategory">
                                        <option value="-1" selected="">دسته فرعی خبر را انتخاب کنید...</option>
                                        @{
                                            foreach (var item in Model.ResultGetNewsChildrenCategoriesDto.Result)
                                            {
                                                <option selected="@(Model.GetNewsServiceDto.ChildrenCategoryId == item.Id)"
                                                        value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                }
                            }

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="simpleinput">عنوان خبر</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <input type="text" id="txtTitle"
                                    oninput="updateCounter(this, 95)"
                                            onkeydown="enforceMaxLength(this, 95)"
                                    class="form-control" placeholder="متن دلخواه شما...">

                                }
                                else
                                {
                                    <input type="text" id="txtTitle"
                                            value="@Model.GetNewsServiceDto.Title"
                                            oninput="updateCounter(this, 95)"
                                            onkeydown="enforceMaxLength(this, 95)"
                                            class="form-control" placeholder="متن دلخواه شما...">

                                }
                            }
                                                    @{
                    if (Model.GetNewsServiceDto == null)
                    {
                        <span class="form-label-counter" id="txtTitleCounter">0 / 95</span>
                    }
                    else
                    {
                        <span class="form-label-counter" id="txtTitleCounter">@Model.GetNewsServiceDto.Title.Length / 95</span>
                    }
                }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="simpleinput">Title</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <input type="text" id="txtTitleEn"
                                    oninput="updateCounter(this, 95)"
                                            onkeydown="enforceMaxLength(this, 95)"
                                    class="form-control ltr"  placeholder="News English Title ...">

                                }
                                else
                                {
                                    <input type="text" id="txtTitleEn"
                                            value="@Model.GetNewsServiceDto.TitleEn"
                                            oninput="updateCounter(this, 95)"
                                            onkeydown="enforceMaxLength(this, 95)"
                                            class="form-control ltr" placeholder="News English Title ...">

                                }
                            }
                                                    @{
                    if (Model.GetNewsServiceDto == null)
                    {
                        <span class="form-label-counter" id="txtTitleEnCounter">0 / 95</span>
                    }
                    else
                    {
                        <span class="form-label-counter" id="txtTitleEnCounter">@Model.GetNewsServiceDto.TitleEn.Length / 95</span>
                    }
                }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-password">خلاصه متن</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <textarea rows="5" class="form-control" id="txtSummary"></textarea>

                                }
                                else
                                {
                                    <textarea rows="5" class="form-control"
                                              id="txtSummary">@Model.GetNewsServiceDto.Summary</textarea>

                                }
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-email">متن کامل خبر:</label>
                        <div class="col-sm-10">                            
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <textarea name="editor1" id="txtBodyText"></textarea>

                                }
                                else
                                {
                                    <textarea name="editor1" id="txtBodyText">@Model.GetNewsServiceDto.BodyText</textarea>

                                }
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-fileinput"></label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="chkAllowedOver150">
                            <label for="chkAllowedOver150">پذیرش تصویر بالای حجم 150 کلیوبایت</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-fileinput">تصویر اصلی پست</label>                       
                        <div class="col-sm-10">                             
                            <input type="file" class="form-control" id="fileImage">
                        <div class="alert alert-primary" role="alert">
                          <a target="_blank" href="https://www.freeconvert.com/jpg-to-webp" class="btn btn-lighten-purple waves-effect  width-md waves-purple">jpg->webp (1)</a>
                          <a target="_blank" href="https://cloudconvert.com/jpg-to-webp" class="btn btn-lighten-purple waves-effect  width-md waves-purple">jpg->webp (2)</a>
                          <a target="_blank" href="http://optimizilla.com/" class="btn btn-lighten-primary waves-effect  width-md waves-purple">optmize jpg (1)</a>
                          <a target="_blank" href="https://www.imgonline.com.ua/eng/compress-image-size.php" class="btn btn-lighten-primary waves-effect  width-md waves-purple">optmize jpg (2)</a>
                        </div>
                            @{
                                if (Model.GetNewsServiceDto != null)
                                {
                                    <div class="mt-10">
                                    <a id="btnShowHideMainImage" class="cursorPointer kingBlueText">(نمایش تصویر)</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                    @{
                        if (Model.GetNewsServiceDto != null)
                        {                            
                            <div class="form-group row" id="mainImgContent" hidden>
                                <label class="col-sm-2  col-form-label" for="example-fileinput"></label>
                                <div class="col-sm-10">

                                    <img class="img-fluid rounded"
                                         src="/UploadedStuff/admin/images/admin-news-images/@Model.GetNewsServiceDto.MainImage" />
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-placeholder">نویسنده</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <input type="text" id="txtAuthor" class="form-control" placeholder="نویسنده ...">
                                }
                                else
                                {
                                    <input type="text" id="txtAuthor" class="form-control"
                                           value="@Model.GetNewsServiceDto.Author"
                                           placeholder="نویسنده ...">
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label" for="example-placeholder">منبع</label>
                        <div class="col-sm-10">
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <input type="text" id="txtReference" class="form-control" placeholder="منبع ...">

                                }
                                else
                                {
                                    <input type="text" id="txtReference"
                                           value="@Model.GetNewsServiceDto.Reference"
                                           class="form-control" placeholder="منبع ...">
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                    <div class="input-group">
                        <label class="col-sm-2  col-form-label" for="example-placeholder"></label>
                        <label class="input-group-text">تاریخ درج در آینده</label>
                            @{
                                if (Model.GetNewsServiceDto == null)
                                {
                                    <input type="text" id="txtShamsiDate" class="form-control shamsidate" readonly>
                                    <label class="input-group-text" for="example-time">زمان</label>
                                    <select class="form-control"  id="txtTimeHour">
                                        <option disabled selected>ساعت انتشار</option>
                                        @for (int h = 0; h < 24; h++)
                                        {
                                            <option value="@h.ToString("D2")">
                                                @h.ToString("D2")
                                            </option>
                                        }
                                    </select>
                                    <select class="form-control" id="txtTimeMinutes">
                                        <option disabled selected>دقیقه انتشار</option>
                                        @for (int m = 0; m < 60; m++)
                                        {
                                            <option value="@m.ToString("D2")">
                                                @m.ToString("D2")
                                            </option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    var pureDateTime = Model.GetNewsServiceDto.FutureDateTime;
                                    @* ----- *@
                                    var shamsidateFuture = new PersianDateTime(Convert.ToDateTime(pureDateTime).Date);
                                    var shamsidateStringFuture = shamsidateFuture.ToString("yyyy/MM/dd");
                                    var persiandateTimeFuture = PersianNumberHelper.ConvertToPersian(shamsidateStringFuture);
                                    <input type="text" id="txtShamsiDate"
                                           value="@persiandateTimeFuture"
                                           class="form-control shamsidate" readonly>
                                    <label class="input-group-text" for="example-time">زمان</label>
                                    <select class="form-control"  id="txtTimeHour">
                                        <option disabled>ساعت انتشار</option>
                                        @for (int h = 0; h < 24; h++)
                                        {
                                            <option value="@h.ToString("D2")"
                                                    selected="@(Convert.ToDateTime(pureDateTime).ToString("HH") == h.ToString("D2"))">
                                                @h.ToString("D2")
                                            </option>
                                        }
                                    </select>
                                    <select class="form-control" id="txtTimeMinutes">
                                        <option disabled>دقیقه انتشار</option>
                                        @for (int m = 0; m < 60; m++)
                                        {
                                            <option value="@m.ToString("D2")"
                                                    selected="@(Convert.ToDateTime(pureDateTime).ToString("mm") == m.ToString("D2"))">
                                                @m.ToString("D2")
                                            </option>
                                        }
                                    </select>
                                }
                            }
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label">تگ ها</label>
                        <div class="col-sm-10">
                            <div class="tags-default">
                                @{
                                    if (Model.GetNewsServiceDto == null)
                                    {
                                        <input type="text" data-role="tagsinput" placeholder="افزودن تگ..." />
                                    }
                                    else
                                    {
                                        var tags = "";
                                        foreach (var tag in Model.GetNewsServiceDto.Tags)
                                        {
                                            tags += tag.Value + ",";
                                        }
                                        <input type="text" data-role="tagsinput"
                                               value="@tags"
                                               placeholder="افزودن تگ..." />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.GetNewsServiceDto == null)
                        {
                            <button type="button" onclick="addNews();"
                                    class="btn btn-primary waves-effect width-md waves-light">
                                درج
                            </button>
                        }
                        else
                        {
                            <button type="button" onclick="updateNews('@Model.GetNewsServiceDto.Id');"
                                    class="btn btn-primary waves-effect width-md waves-light">
                                ویرایش
                            </button>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @*Remaing Characters*@
    <link href="~/common/remainingcharacters/remainingcharacters.css" rel="stylesheet" />
    @*Datapicker*@
    <link href="~/common/datapicker/css/persiandatepicker-default.css" rel="stylesheet" />
    @*tags*@
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    @*page*@
    <link href="~/admintemplate/pagejscss/postnews/postnews.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/common/fileextensionsize/fileextensionsize.js"></script>
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/common/datapicker/js/persiandatepicker.min.js"></script>
    <script src="~/common/datapicker/js/farvardin.min.js"></script>
    <script>
        $(".shamsidate").persianDatepicker();
    </script>
    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('txtBodyText',
            {
                extraPlugins: 'codesnippet',
                codeSnippet_theme: 'monokai_sublime',
                toolbar: [
                    { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] }, { name: 'bidi', items: ['BidiLtr', 'BidiRtl'] },
                    '/', // Line break
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', '-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv'] },
                    { name: 'alignment', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }, // Alignment options
                    { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'] },
                    '/', // Line break
                    { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
                    { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                    { name: 'tools', items: ['Maximize', 'ShowBlocks', '-', 'About'] },
                    { name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                    '/', // Line break
                    { name: 'coding', items: ['CodeSnippet'] },
                ],
                filebrowserUploadUrl: '/admin/UploadNewsMiddlePost/', // Update this URL to your server-side upload handler
                filebrowserImageUploadUrl: '/admin/UploadNewsMiddlePost?type=Images',
                filebrowserImageBrowseUrl: '/admin/AdminNewsImageBrower/', // Update this URL to point to your image browser
            });
            // Clean the textarea content before CKEditor loads
            KingSweetAlertCenterParticularTimer("در حال آماده سازی فرم ها ...",2000);
    </script>
@{
        if (Model.GetNewsServiceDto == null)
        {
            <script>
                setTimeout(function(){
                // کد زیر برای این گذاشتم که متاسفانه ی سری تگ های html برای خودش اد میکرد
                CKEDITOR.instances.txtBodyText.setData('');                
                },2000);
            </script>
        }
    }
    <script src="~/admintemplate/pagecssjs/postnews/postnews.js"></script>
    <script src="~/common/remainingcharacters/remainingcharacters.js"></script>
<script src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>

}