@using Endpoint.Website.Models.NewsCategories
@model ModelNewsCategories
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["HeadTitle"] = "دسته بندی اخبار";
}
<div class="row">
    <div class="col-12">
        <div>
            <a href="/admin/addnews/" class="btn btn-success waves-effect width-md waves-light">خبر جدید</a>
        </div>
        <div class="card-box mt-20">
            <div class="row">
                <div class="col-12">
                    <div class="p-2" id="mainContent">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="simpleinput">عنوان دسته</label>
                                <div class="col-sm-10">
                                    <input type="text" id="txtCat" class="form-control" placeholder="متن دلخواه شما...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label">دسته خبر اصلی</label>
                                <div class="col-sm-10">
                                    <select class="custom-select mt-3" id="selectParentId">
                                        <option value="-1">دسته اصلی را انتخاب کنید...</option>
                                        @{
                                            foreach (var item in Model.ResultGetParentCategoriesDto.Result)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <button type="button" onclick="add();" class="btn btn-primary waves-effect width-md waves-light">درج</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="p-2">
                        <div>
                            <h2>نمایش دسته ها</h2>
                            <hr />
                            <div id="treeview">
                                @{
                                    foreach (var parent in Model.ResultGetParentCategoriesDto.Result)
                                    {

                                        <h4>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            </svg><b class="ms-10">@parent.Title</b>
                                            <a onclick="showUpdationModal('@parent.Id','@parent.Title')" class="cursorPointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                </svg>
                                            </a>
                                            <a onclick="deleteCat('@parent.Id')" class="cursorPointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </a>
                                        </h4>

                                        foreach (var child in Model.ResultGetCategoriesServiceDto.Result)
                                        {
                                            if (child.ParentId == parent.Id)
                                            {
                                                <div class="ms-30">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                    </svg>
                                                    <span>@child.Title</span>
                                                    <a onclick="showUpdationModal('@parent.Id','@parent.Title')" class="cursorPointer">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                        </svg>
                                                    </a>
                                                    <a onclick="deleteCat('@parent.Id')" class="cursorPointer">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>
<!-- sample modal content -->
<div id="updationCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">بروزرسانی عنوان دسته</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idUpdationCategory"/>
                <div class="form-group row">
                    <label class="col-sm-2  col-form-label" for="simpleinput">عنوان دسته</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtUpdationCat" class="form-control" placeholder="متن دلخواه شما...">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button type="button" onclick="updateCat()" class="btn btn-primary waves-effect waves-light">ذخیره تغییرات</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Styles {
    <link href="~/admintemplate/pagejscss/categories/categories.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/admintemplate/pagejscss/categories/categories.js"></script>
}