@using Endpoint.Website.Models.NewsCategories
@using IranFilmPort.Application.Services.NewsCategories.Queries.GetNewsCategories
@model ResultGetNewsCategoriesServiceDto;
@{
    Layout = "~/Views/Shared/_LayoutUserClientAdmin.cshtml";
    ViewData["HeadTitle"] = "دسته بندی اخبار";
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">اضافه کردن دسته جدید</h4>
            <div class="row">
                <div class="col-12">
                    <div class="p-2">
                        <div class="form-group row">
                            <label class="col-sm-2  col-form-label" for="simpleinput">عنوان دسته:</label>
                            <div class="col-sm-10">
                                <input type="text" id="txtTitle" class="form-control" placeholder="عنوان...">
                            </div>
                        </div>
                        <div class="form-group row" id="tbCat">
                            <label class="col-sm-2  col-form-label">دسته اصلی:</label>
                            <div class="col-sm-10" id="divCat">
                                <select class="form-control" id="selectCatParent">
                                    <option value="0">اصلی</option>
                                    @{
                                        @foreach (var cat in Model.Result)
                                        {
                                            if (cat.SubId == null || cat.SubId == Guid.Empty)
                                            {
                                                <option value='@cat.Id'>@cat.Title</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:left;">
                        <button onclick="addCategory();" class="btn btn-primary waves-effect waves-light btn-lg">درج</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="mt-0 header-title">دسته بندی اخبار و مقالات</h4>
            <p class="text-muted font-14 mb-3">
                بدون توضیحات
            </p>

            <div class="table-responsive">
                <table class="table mb-0" id="treeview">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var cat in Model.Result)
                            {
                                if (cat.SubId == null || cat.SubId == Guid.Empty)
                                {
                                    // Display the main category
                                    <tr>
                                        <td>
                                            <b style="font-size:20px;">@cat.Title</b>
                                            <svg onclick="deleteCategory('@cat.Id')" class="cursorPointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                            <svg onclick="updateCategory('@cat.Id','@cat.Title')" class="cursorPointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334" />
                                            </svg>
                                        </td>
                                    </tr>
                                }
                                // Display the subcategories
                                foreach (var subcat in Model.Result)
                                {
                                    if (subcat.SubId == cat.Id && (cat.SubId != null || cat.SubId != Guid.Empty))
                                    {
                                        <tr>
                                            <td style="padding-right: 40px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
                                                </svg><span style="padding-right:10px;">@subcat.Title</span>
                                                <svg onclick="deleteCategory('@subcat.Id')" class="cursorPointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                                <svg onclick="updateCategory('@subcat.Id','@subcat.Title')" class="cursorPointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                    <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334" />
                                                </svg>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Styles {
    <link href="~/admintemplate/pagecssjs/categories/categories.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/admintemplate/pagecssjs/categories/categories.js"></script>

}