@using Endpoint.Website.Models.AddUsers;
@using IranFilmPort.Application.Services.News.News.GetAllNewsForAdmin
@using IranFilmPort.Common.Helpers;
@using IranFilmPort.Common.Constants
@model ResultGetAllNewsForAdminServiceDto
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["HeadTitle"] = "اخبار";
}
<div class="row">
    <div class="col-lg-12">
        <div>
            <a href="/admin/addnews/" class="btn btn-primary waves-effect width-md waves-light">خبر جدید</a>
        </div>
        <div class="card-box mt-20">
            <h4 class="mt-0 header-title">لیست تمام اخبار</h4>
            <div class="table-responsive" id="divNews">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>دسته خبر</th>
                            <th>بازدید</th>
                            <th>وضعیت</th>
                            <th>تاریخ درج</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.Result)
                            {
                                <tr>
                                    <td>

                                        @{
                                            if ((bool)item.Active)
                                            {
                                                <input type="checkbox" disabled checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled />
                                            }
                                        }

                                        @item.Title
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Visit</td>
                                    <td>
                                        @{
                                            if (item.FutureDateTime != null &&
                                                Convert.ToDateTime(item.FutureDateTime).Date < DateTime.Now.Date)
                                            {
                                                <span class="badge badge-warning">در آینده</span>
                                            }
                                            else{
                                                <span class="badge badge-success">منتشر شده</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var shamsidate = new PersianDateTime(@item.InsertDate);
                                            var shamsidateString = shamsidate.ToString("yyyy/MM/dd");
                                            var persiandateTime = PersianNumberHelper.ConvertToPersian(shamsidateString);
                                            @persiandateTime
                                        }
                                    </td>
                                    <td>
                                        <div class="dropdown float-right">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="/admin/addnews/@item.Id" class="dropdown-item">ویرایش</a>
                                                <a href="/@item.Slug" target="_blank" class="dropdown-item">مشاهده</a>
                                                <a onclick="deleteNews('@item.Id')" class="dropdown-item">حذف</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/admintemplate/pagejscss/news/news.js"></script>
}